services:
  fredy-version-mk:
    container_name: fredy-version-mk
    build:
      context: .
      dockerfile: Dockerfile
    image: fredy-version-mk:1.0
    environment:
      - NODE_ENV=production
    volumes:
      - ./conf:/conf
      - ./db:/db
    ports:
      - "9998:9998"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    healthcheck:
      test: ["CMD", "curl", "--fail", "--silent", "--show-error", "--max-time", "5", "http://localhost:9998/"]
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 30s
